.navBarView{
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    height: 60px;
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #43C6AC, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  


}

.navBarView_backBtn{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}