.navBarView{
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    height: 60px;
    background: #55b5e6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0052D4, #65C7F7, #5bc1f0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.navBarView_backBtn{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}